# Entorno virtual de Python
venv/
.env/
env/
.venv/

# Alembic
/alembic.ini
/alembic/versions/*

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# IDE
.vscode/
.idea/
*.swp
*.swo

# Logs y bases de datos
*.log
*.sqlite
*.db

# Archivos de entorno
.env
.env.local
.env.dev
.env.prod
.env.test

# Archivos de configuración personalizados
config_local.py
settings_local.py

# Testing
.coverage
htmlcov/
.pytest_cache/
tests/__pycache__/

# Jupyter Notebook
.ipynb_checkpoints

# macOS
.DS_Store

# Windows
Thumbs.db